section.our-offers
    .container.our-offers__container
        .our-special-offers
            span.special-offers__title Our special offers
            ul.offer-items.content
                li
                    .offer-item
                        .photo-desc
                            img(src="static/img/offer-photo1.jpg").offer-img
                            .description
                                span 1914 transition
                                span when i first heard this song it gave me the feeling that you get when you're on a road trip
                        .prise-btn
                            span 700$
                            button(type='button').safari-tour-btn.yellow-btn.offer-btn Read more
                li
                    .offer-item
                        .photo-desc
                            img(src="static/img/offer-photo2.jpg").offer-img
                            .description
                                span 1914 transition
                                span But I must explain to you how all this mistaken idea of denouncing
                        .prise-btn
                            span 700$
                            button(type='button').safari-tour-btn.yellow-btn.offer-btn Read more
                li
                    .offer-item
                        .photo-desc
                            img(src="static/img/offer-photo3.jpg").offer-img
                            .description
                                span 1914 transition
                                span But I must explain to you how all this mistaken idea of denouncing
                        .prise-btn
                            span 700$
                            button(type='button').safari-tour-btn.yellow-btn.offer-btn Read more      
                li
                    .offer-item
                        .photo-desc
                            img(src="static/img/offer-photo3.jpg").offer-img
                            .description
                                span 1914 transition
                                span But I must explain to you how all this mistaken idea of denouncing
                        .prise-btn
                            span 700$
                            button(type='button').safari-tour-btn.yellow-btn.offer-btn Read more   
                li
                    .offer-item
                        .photo-desc
                            img(src="static/img/offer-photo3.jpg").offer-img
                            .description
                                span 1914 transition
                                span But I must explain to you how all this mistaken idea of denouncing
                        .prise-btn
                            span 700$
                            button(type='button').safari-tour-btn.yellow-btn.offer-btn Read more   

        .special-season-offers.tabs.tabs-style-tzoid
            .yellow-circle
                .special-summer-text
                    span Special
                    span Summer
            .blue-white-border-circle
                span Offer
            nav
                ul
                    li
                        a(href="#section-tzoid-1" title="Tours")
                            span Tours
                    li
                        a(href="#section-tzoid-2" title="Photos")
                            span Photos
            .content-wrap
                section.section-tours#section-tzoid-1.content-current
                    .tours-list-wrap
                        ul.tours-list
                            li.tour-item
                                ul.tour-item__line
                                    li
                                        span.tour-name Private asia tours tailored to your tastes
                                        span.tour-days 10 days
                                        a(href="#").tour-more more details
                            li.tour-item
                                ul.tour-item__line
                                    li
                                        span.tour-name Get the inside track on asia
                                        span.tour-days 10 days
                                        a(href="#").tour-more more details
                            li.tour-item
                                ul.tour-item__line
                                    li
                                        span.tour-name Travel asia like a local
                                        span.tour-days 11 days
                                        a(href="#").tour-more more details
                            li.tour-item
                                ul.tour-item__line
                                    li
                                        span.tour-name Let our asia experts do the work
                                        span.tour-days 22 days
                                        a(href="#").tour-more more details
                            li.tour-item
                                ul.tour-item__line
                                    li
                                        span.tour-name East coast tours combo package
                                        span.tour-days 13 days
                                        a(href="#").tour-more more details
                            li.tour-item
                                ul.tour-item__line
                                    li
                                        span.tour-name Ultimate budget east coast package
                                        span.tour-days 17 days
                                        a(href="#").tour-more more details
                            li.tour-item
                                ul.tour-item__line
                                    li
                                        span.tour-name Oahu grand circle island tour
                                        span.tour-days 19 days
                                        a(href="#").tour-more more details
                            li.tour-item
                                ul.tour-item__line
                                    li
                                        span.tour-name Pearl Harbor, Honolulu City & Polynesian Cultural Center Tour Package from Honolulu
                                        span.tour-days 16 days
                                        a(href="#").tour-more more details
                section.section-photos#section-tzoid-2
                    img(src="static/img/offer-photo3.jpg")