section.tourist-map
    .tourist-map__title
        span Find Tourists Spots by Map
        span Click on Map
    .tourist-map__content
        include ../../../build/static/img/map.svg
        .tourism-tooltip.north-america
            .tourism-list.north-america-tourism
                ul.tourism-items.content
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                .tour-name-wrap
                    span.tourism-name North America Tourism
        .tourism-tooltip.south-america
            .tourism-list.south-america-tourism
                ul.tourism-items.content
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                .tour-name-wrap
                    span.tourism-name South America Tourism
        .tourism-tooltip.africa
            .tourism-list.africa-tourism
                ul.tourism-items.content
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                .tour-name-wrap
                    span.tourism-name Africa Tourism
        .tourism-tooltip.europe
            .tourism-list.europe-tourism
                ul.tourism-items.content
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                .tour-name-wrap
                    span.tourism-name Europe Tourism
        .tourism-tooltip.asia
            .tourism-list.asia-tourism
                ul.tourism-items.content
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                .tour-name-wrap
                    span.tourism-name Asia Tourism
        .tourism-tooltip.australia
            .tourism-list.australia-tourism
                ul.tourism-items.content
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                    li.t-item
                        img(src="static/img/offer-photo1.jpg").offer-img
                        .description
                            span 1914 transition
                            span when i first heard this song it gave me the feeling
                .tour-name-wrap
                    span.tourism-name Australia Tourism