.our-offers
  width: 100%
  position: relative
  background: $ourOffersBG
  top: -20px
  margin-top: 0
  //background-position: left -100px
  //background-repeat: repeat
  height: 400px
  z-index: 10

.our-offers__container
  display: flex
  justify-content: %flex-start


.our-special-offers
  width: 36%
  color: $whiteColor

.special-offers__title
  font-family: $ABodoniNovaNrItalic
  font-size: 1.813em

.offer-item
  border-bottom: 3px dashed $whiteColor
  padding-bottom: 18px
  margin-top: 22px

  &:first-child
    margin-top: 0

.photo-desc
  display: flex
  flex-direction: row
  justify-content: flex-start
  margin-right: 12px
  padding-bottom: 10px

.description
  padding-left: 12px

  span
    display: block

  span:first-child
    font-family: $ColaborateMedium
    font-size: 1.063em
    padding-bottom: 10px

  span:last-child
    font-family: $ColaborateThin
    font-size: 0.938em

.prise-btn
  display: flex
  flex-direction: row
  justify-content: flex-end
  align-items:  center

  span
    font-family: $ACBenguiatCyrBook
    font-size: 1.688em
    padding-right: 18px

.offer-img
  width: 88px
  height: 67px
  border: 3px solid $whiteColor
  border-radius: 3px



