.tourist-map
  width: 100%
  background: $touristMapBG
  position: relative

.tourist-map__title
  display: block
  margin: 0 auto
  font-family: $AGLettericaBold
  padding-top: 25px

  span
    display: block
    margin: 0 auto
    text-align: center

    &:first-child
      font-size: 1.688em
      color: $tmapTitle1
      padding-bottom: 5px

    &:last-child
      font-size: 1.063em
      color: $tmapTitle2

.tourist-map__content
  width: 100%
  position: relative

