//@import "libs.sass"

// Переменные
@import '_vars'

//---------Стили секций--------

//Стиль верхнего меню и логотипа
@import 'common/header'

//Секция с самолетом и формой
@import 'sections/title-banner'

//Секция специальные предложения
@import 'sections/our-offers'

@import 'sections/season-offers'

//Секция с картой
@import 'sections/tourist-map'

//Footer
@import 'common/footer'

@import 'common/map'

//---------Стили общих блоков--------

//Стиль текстовых блоков
@import 'common/scroll-bar-rail'

//Стиль форм
//@import 'common/cabHUB-btn'

//@import 'common/social_icons_shot_style'


html
  //line-height: 1.2
  font-size: 16px
  margin: 0

body
  height: auto
  width: 100%
  margin: 0
  padding: 0

div
  display: block

h1
  margin: 0

p
  margin: 0

a
  text-decoration: none

ul
  padding-left: 0

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

.wrapper
  display: block
  margin: 0 auto
  padding: 0
  position: relative
  overflow: hidden
  opacity: .99
  width: 100%
  background: $touristMapBG

.container
  position: relative
  overflow: visible
  width: 95vw
  max-width: 1024px
  margin: 0 auto

//Адаптивная верстка
//@import '_media'


