footer
  width: 100%
  background: $footerBG

.footer-wrap
  width: 100%
  display: flex
  justify-content: space-between
  padding-top: 20px
  padding-bottom: 25px
  color: $whiteColor

  a
    color: $whiteColor

.subscribe-wrap
  display: block
  align-items: center
  padding-bottom: 30px

  .footer-title
    padding-bottom: 15px

.footer-title
  display: block
  font-family: $ColaborateRegular
  font-size: 1.563em
  text-align: left
  padding-bottom: 15px
  text-shadow: 0 0 3px $blackColor

.footer-input
  border-radius: 7px
  height: 30px
  //box-shadow: inset 0 0 3px 20px rgba(0, 0, 0, 0.1)
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1)
  background: $footerBG
  color: $footerInputText

.footer-input::-webkit-input-placeholder
  color: $footerInputText

.footer-btn
  background: $skyColor
  color: $footerInputBG
  font-family: $ColaborateRegular

.subscr-form-wrap
  .footer-input
    margin-right: 10px

.footer-text
  font-family: $ColaborateThin
  font-size: 0.875em

.social-link-shot
  display: flex
  align-items: flex-start
  flex-direction: row
  
.social-bg
  display: flex
  background: $socialBG
  align-items: center
  vertical-align: middle
  margin-right: 10px
  width: 39px
  height: 39px 
  border-radius: 20px 
  
  a
    display: block
    margin: 0 auto

.wrap2
  line-height: 1.5

  span
    display: block

.contacts-wrap
  list-style: none

.conact-line
  display: block

  li
    display: inline-block

    &:first-child
      width: 50px

.wrap3
  .form-feilds
    padding-top: 0

  button
    margin-right: 0

.footer-message
  height: 3.563em

.footer-submit
  position: relative
  float: right
  padding: 12px 23px 9px 23px
  border-radius: 7px
  border: 0
  offset: 0
  cursor: pointer

.footer-input
  padding-left: 12px
  box-shadow: inset 0 3px 8px $footerInputShadow,  rgba(255,255,255,0.5) 0px 2px 3px
  background: $footerInput
  border: none
  offset: none
