header
  position: absolute
  width: 100%

.container__header
  display: block
  margin: 0 auto

.header-rotated-blue-bg
  position: absolute
  top: -70px
  left: 0
  width: 95%
  height: 140px
  background: $headerBlue
  border-radius: 10px
  transform: rotate(-4deg)
  z-index: 3

.header-nav-wrap
  position: absolute
  z-index: 4

.header-nav
  position: relative
  list-style: none
  display: flex
  padding-left: 320px
  padding-top: 5px
  width: 100%
  justify-content: flex-start

  li
    margin-right: 7%

  a
    color: $whiteColor
    font-size: 17px
    font-family: $AGSouvenirRegular

.safari-tour-logo-wrap
  position: absolute
  top: -70px
  left: 20px
  width: 255px
  height: 179px
  background: $logoBG
  border: 6px solid $whiteColor
  border-top: none
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  transform: rotate(-6deg)
  box-shadow: 0px 0px 9px rgba(74, 154, 186, 0.2)
  z-index: 5

.safari-tour-text
  display: block
  text-align: center
  width: 100%
  padding-top: 90px

  span
    display: block
    color: $safariTourBlue

.safari-tour
  font-size: 33px
  font-family: $AGAalenBoldRoman
  padding-bottom: 5px

.i-t-p
  font-size: 15px
  font-family: $ArialRegular

