extends ../layout/layout

block title
    | Safari Tours

block header
    include ../common/header
block title-banner
    include ../sections/title-banner
block our-offers
    include ../sections/our-offers
block tourist-map
    include ../sections/tourist-map
block footer
    include ../common/footer