@font-face{
    font-family: "AGAalenBoldRoman";
    src: url("../fonts/AGAalenBoldRoman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "AGSouvenirRegular";
    src: url("../fonts/AGSouvenirRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "ArialRegular";
    src: url("../fonts/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}