doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(http-enquiv='X-UA-Compatible', content="IE = edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="keywords" content="")
        meta(name="author" content="AK")
        link(href="static/css/main.css" rel="stylesheet" type="text/css")
        link(href="static/css/animate.css" rel="stylesheet" type="text/css")
        link(href="static/css/slick.css" rel="stylesheet" type="text/css")
        link(href="static/fonts/fonts.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
        link(href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" type="text/css" href="static/css/jquery.mCustomScrollbar.css")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src="http://code.jquery.com/jquery-latest.js")
        script(src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")
        script(src="static/js/modernizr.custom.js")
        script(src="static/js/cbpFWTabs.js")
        script(src="static/js/main.js")
        script(type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js")
        script(type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldKashmir2Low.js")
        //script(src="static/js/dotted-map.js")
        //script(src="static/js/libs.min.js")
        script(src="static/js/wow.min.js")
        script(src="static/js/slick.min.js")
        script(src="static/js/jquery.mCustomScrollbar.js")
        script(src="static/js/scroll-bar-call.js")
        script(src="static/js/disable-distroy-call.js")
        script(src="static/js/main.js")


        

        title
            block title
    body
        <!--[if lt IE 8]>
        p.browserhappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href="http://browserhappy.com/">upgrade your browser</a>
            | to improve your experience.
        <![endif]-->
        .wrapper
            block header
            block title-banner
            block our-offers
            block tourist-map
            block footer

        script
            include ../../static/js/main.js    