header
    .container.container__header
        .header-rotated-blue-bg
        nav.header-nav-wrap
            ul.header-nav
                li
                    a(href="javascript:void(0);") Home
                li
                    a(href="javascript:void(0);") Packages
                li
                    a(href="javascript:void(0);") Flights
                li
                    a(href="javascript:void(0);") Trains
                li
                    a(href="javascript:void(0);") Reach us
        .safari-tour-logo-wrap
            .safari-tour-text
                span.safari-tour Safari Tour
                span.i-t-p International Tour packages

